@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-carousel {
  animation: carousel 60s linear infinite;
  width: fit-content;
  display: flex;
}

.animate-carousel:hover {
  animation-play-state: paused;
}

.tech-item {
  transition: transform 0.3s ease-out;
}

.tech-item:hover {
  transform: translateY(-8px);
}